{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block main %}
<div class="row" style="box-border: 3px black">
    <div class="col-sm-4">
        <img src='{{data["volumeInfo"]["imageLinks"]["thumbnail"]}}'>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin-top: 10px">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio1">None</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Want to read</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Currently reading</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio4">Read</label>
        </div>
        <div class="form-group" style="width: 30%">
            <label for="exampleSelect1" class="form-label mt-4">Rate this book</label>
            <select class="form-select" id="exampleSelect1">
              <option value="none">No rating</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
        </div>
        <div id="yr">
            <span id = "yrating"></span>
        </div>
    </div>

    <div class="col-sm-8" id="info">
        <h2>{{data["volumeInfo"]["title"]}}</h2>
        <span id="book_id" hidden>{{data["id"]}}</span>
        <h4>{% for author in data["volumeInfo"]["authors"] %}
                <span><a href="/author?name={{author}}" class="author" style="text-decoration: none; color: black">{{author}}</span></a><br>
            {% endfor %}
        </h4>
        <h7></h7>
        <p style="color: grey">{{data["volumeInfo"]["description"] | safe }}</p>
        <div class="card border-dark mb-3" style="max-width: 50rem;">
            <div class="card-header">Write a review</div>
            <div class="card-body">
                <div class="form-group" id="textarea">
                    <form id="addreview">
                        <textarea class="form-control" id="exampleTextarea" rows="3" spellcheck="false"></textarea>
                        <button type="submit" class="btn btn-dark" style="margin-top: 10px">Add review</button>
                    </form>
                </div>
            </div>
        </div>
        <div id='reviewTitle'>
            <h3>Reviews</h3>
        </div>
        <div id='reviews'>
            {% if reviews %}
                {% for review in reviews %}
                    <div class="card text-white bg-dark mb-3" style="max-width: 50rem;" id="comment">
                        <span id="reviewid" hidden>{{review[3]}}</span>
                        <div class="card-header">
                            {{review[0]}} said in {{review[1]}}
                            {% if session["username"] == review[0] %}
                                <div id="icons" style="float: right">
                                    <i class="fas fa-trash-alt" style="padding: 2px"></i>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{review[2]}}</p>
                        </div>
                    </div>
                {% endfor %}   
            {% endif %}
        </div>
    </div>
</div>

<script>
    document.querySelectorAll(".author").forEach(author => {
        author.addEventListener("mouseover", function(){
            this.style.textDecoration = "underline";
        });
    });

    document.querySelectorAll(".author").forEach(author => {
        author.addEventListener("mouseout", function(){
            this.style.textDecoration = "none";
        });
    });

    /* Add the book to library */

    // declare radio elements
    var radios = document.querySelectorAll(".btn-check");
    var library = `{{library}}`; // library name from jinja
    var bookId = document.getElementById('book_id').innerText;

    //iterate through all radio elements
    radios.forEach(radio => {
        if (radio.nextElementSibling.innerText == library){
            radio.checked = true; // specific radio checked
        }

        // make each radio listen for click event.
        radio.addEventListener("click", function(event){
            // make a async request to server
            fetch('/updatebook', {
                method: 'POST',
                body: JSON.stringify({
                    reading: this.nextElementSibling.innerText,
                    book_id: bookId
                })
            })
        });
    });

    /* Rate the book */
    fetch(`/updaterating?id=${bookId}`) // GET request
    .then(response => response.json())
    .then(result => {
        var rating = result.rating; // user rating 
        var aveRating = result.ave_rating; // book rating
        if (!rating){
            document.getElementById("yrating").style.display = "none";
        }
        else{
            document.getElementById("yrating").innerHTML = `Your rating is ${rating}`;
        }

        if (aveRating == null){
            document.querySelector("h7").innerHTML = "Rating: 0";
        }
        else{
            document.querySelector("h7").innerHTML = `Rating: ${aveRating}`;
        }
    })
    .catch(error => {
        console.error(`error: ${error}`);
    })

    document.querySelector("select").addEventListener("change", function(event){
        console.log("click rating")
        fetch('/updaterating', { // POST request
            method: 'POST',
            body: JSON.stringify(
                {
                    rating: this.value,
                    book_id: bookId
                }
            )
        })
        .then(response => response.json())
        .then(result => {
            console.log(result)
            var rating = result.rating;
            var aveRating = result.ave_rating;

            if (rating == "none"){
                document.getElementById("yrating").style.display = "none";
            }
            else{
                document.getElementById("yrating").innerHTML = `Your rating is ${rating}`;
            }

            if (aveRating == null){
                document.querySelector("h7").innerHTML = "Rating: 0";
            }
            else{
                document.querySelector("h7").innerHTML = `Rating: ${aveRating}`;
            }
        })
    });


    // Check if the book has review.
    let reviewElement = document.getElementById('reviews');
    if(!reviewElement.querySelector('#comment')){
        reviewElement.innerHTML = '<span id="noreview" style="color: grey">No review yet.</span>';
    }

    /* Add a review */
    document.getElementById('addreview').addEventListener('submit', function(event){
        console.log('review');
        event.preventDefault();
        fetch('/addreview', {
            method: 'POST',
            body: JSON.stringify(
                {
                    review: document.querySelector("textarea").value,
                    book_id: bookId
                }
            )
        })
        .then(response => response.json())
        .then(result => {
            if (result.reviewed){
                alert("You have written a review to this book. Try another book!");
            }
            else{
                let reviewElement = document.getElementById('reviews');

                // check if the book has a review
                if(!reviewElement.querySelector('#comment')){
                    reviewElement.innerHTML = '<span id="noreview" style="color: grey">No review yet.</span>';
                } else {
                    document.getElementById("noreview").style.display = "none";
                }

                //document.getElementById("noreview").style.display = "none";       
                reviewElement.innerHTML += `<div class="card text-white bg-dark mb-3" style="max-width: 50rem;">
                                                <span id="reviewid" hidden>${result.id}</span>
                                                <div class="card-header">${result.username} said in ${result.date}
                                                    <div id="icons" style="float: right">
                                                        <i class="fas fa-trash-alt" style="padding: 2px"></i>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">${result.review}</p>
                                                </div>
                                            </div>`;
            }
        })
    });


    /*  Delete the review  */
    document.getElementById("info").addEventListener("click", function(event){
        if (event.target.classList.contains("fas", "fa-trash-alt")){
            fetch('/deletereview', {
                method: 'POST',
                body: JSON.stringify(
                    {
                        id: event.target.parentNode.parentNode.previousElementSibling.innerText,
                        book_id: bookId
                    }
                )
            })
            .then(response => response.json())
            .then(result => {
                // removing specific comment
                event.target.parentNode.parentNode.parentNode.remove();

                // check if the book has a review
                let reviewElement = document.getElementById('reviews');
                if(!reviewElement.querySelector('#comment')){
                    reviewElement.innerHTML = '<span id="noreview" style="color: grey">No review yet.</span>';
                } 
                else {
                    document.getElementById("noreview").style.display = "none";
                }
            })
        }
    });

</script>
{% endblock %}